<div class="container about margin">
    <h2>O RAVE-UP</h2>
    <div class="row margin">
        <div class="col-sm-6">
            <img src="http://via.placeholder.com/1920x1080/212121" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo inventore excepturi quam esse sit quae
                delectus quia consequatur ducimus nulla, impedit reiciendis enim repellat quas optio alias
                dignissimos sed laboriosam expedita ipsum ab, nam placeat rerum! Vero a atque est dolores
                voluptatem explicabo magni id fugit blanditiis natus placeat, earum, veniam iure expedita
                incidunt esse consectetur tenetur velit cupiditate modi enim eos nihil illum molestias.
                Enim earum, esse dolor harum aliquam reiciendis nobis molestiae, nulla itaque maiores non
                quas aut quo autem veritatis molestias commodi illum labore exercitationem mollitia placeat
                inventore, quam illo distinctio. Mollitia odit eligendi explicabo fugiat natus.
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ducimus tenetur asperiores
                in labore voluptates corrupti minima inventore! Animi, impedit voluptas corrupti rem tenetur a
                utem recusandae consectetur beatae non sit repellendus. Obcaecati maiores labore explicabo perspiciatis
                quas ipsa numquam alias, ex magnam cumque unde minus fuga velit, laborum harum suscipit sequi assumenda
                necessitatibus libero corporis eveniet ab quaerat. Iure assumenda quas repellendus modi repellat voluptas
                magnam dignissimos voluptates excepturi quos. Laborum omnis neque, ex enim unde, dolores, nam a officia
                temporibus deleniti hic repellendus impedit fugiat? Saepe totam error in distinctio quos enim fugiat
                hic velit! Suscipit et expedita quisquam?
            </p>
        </div>
        <div class="col-sm-8">
            <img src="http://via.placeholder.com/1920x1080/212121" class="img-responsive" alt="">
        </div>
    </div>
</div>